h1 {
	font-family: 'rubik_pixelsregular'
	
	
}

@font-face {
    font-family: 'rubik_pixelsregular';
    src: url('rubikpixels-regular1-webfont.woff2') format('woff2'),
         url('rubikpixels-regular1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}